@import-normalize;
@import "Fonts.module.css";

*, *::before, *::after{
     font-family: Gotham Rounded, sans-serif;
     box-sizing: border-box;
}

html{font-size: 25px;}

body{
    margin: 0;
    padding: 0;
}


 